 .u-section-1 {
  background-image: url("images/bg.jpg");
  background-position: 50% 50%;
  min-height: 721px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 721px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/photo-1557754897-ca12c5049d83.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 721px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-text-1 {
  margin: 16px auto 0 1px;
}

.u-section-1 .u-text-2 {
  margin: 38px 1px 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 19px 1px 0;
}

.u-section-1 .u-list-1 {
  margin: 10px 1px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 140px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  margin-right: 4px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-2 {
  margin-right: 4px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-3 {
  margin-right: 4px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-4 {
  margin-right: 4px;
}

.u-section-1 .u-form-1 {
  height: 69px;
  background-image: none;
  margin: 33px 41px 0 1px;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  --radius: 9px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    min-height: 492px;
  }

  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 727px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 141px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 801px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    min-height: 206px;
  }

  .u-section-1 .u-image-1 {
    background-position: 67.53% 50%;
    order: 1;
    min-height: 827px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 124px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 594px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 620px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 935px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 113px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 504px;
  grid-gap: 20px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(83, 116, 89, 0.8), rgba(83, 116, 89, 0.8)), url('images/photo-1434030216411-0b793f4b4173.jpeg');
  background-position: 50% 50%, 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 80px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 63px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(83, 116, 89, 0.8), rgba(83, 116, 89, 0.8)), url('images/photo-1501504905252-473c47e087f8.jpeg');
  background-position: 50% 50%, 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-size: cover;
}

.u-section-2 .u-container-layout-2 {
  padding: 80px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 130px;
  width: 130px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 63px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(83, 116, 89, 0.8), rgba(83, 116, 89, 0.8)), url('images/photo-1434030216411-0b793f4b4173.jpeg');
  background-position: 100% 50%, 100% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-size: cover;
}

.u-section-2 .u-container-layout-3 {
  padding: 80px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 130px;
  width: 130px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 63px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(83, 116, 89, 0.8), rgba(83, 116, 89, 0.8)), url('images/photo-1507925921958-8a62f3d1a50d.jpeg');
  background-position: 50% 50%, 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-size: cover;
}

.u-section-2 .u-container-layout-4 {
  padding: 80px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 63px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 411px;
  }

  .u-section-2 .u-icon-1 {
    height: 118px;
    width: 118px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-icon-2 {
    height: 118px;
    width: 118px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-icon-3 {
    height: 118px;
    width: 118px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-icon-4 {
    height: 118px;
    width: 118px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 841px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 858px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 805px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 1px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 437px;
  margin-left: auto;
  grid-gap: 0px;
}

.u-section-3 .u-list-item-1 {
  margin-left: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px 20px 10px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-3 .u-list-item-2 {
  margin-left: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px 20px 10px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-3 .u-list-item-3 {
  margin-left: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px 20px 10px 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 669px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/photo-1488190211105-8b0e65b80b4e.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    min-height: 552px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 766px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 435px;
  }

  .u-section-3 .u-image-1 {
    min-height: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 777px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-3 .u-image-1 {
    min-height: 489px;
  }
}